@import "../../sass/mixins";
@import "../../sass/variables";


.button {
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 9px black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .5rem ;

  &.dark {
    @include dark($main-theme: true);
  }
  &.light {
    @include light($main-theme: true);
  }
}
