@import "../../sass/mixins";
@import "../../sass/variables";

.country-border {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  // position: absolute;
  &.dark {
    @include dark($main-theme: true);
  }
  &.light {
    @include light($main-theme: true);
  }
}
