@import "../../sass/mixins";
@import "../../sass/variables";

.country-card {
  width: 266px;
  height: 340px;
  border-radius: 0.4rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  
  &.dark {
    @include dark($main-theme: false);
  }
  &.light {
    @include light($main-theme: false);
  }

  & img {
    object-fit: cover;
    width: 266px;
    height: 160px;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  & .country-info {
    margin: 1rem;
    text-align: left;
  }
  & h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  & li {
    margin-bottom: 0.2rem;
  }
}
